[submodule "site/content/tutorials/pytorch"]
	path = site/content/tutorials/pytorch
	url = https://github.com/LiterallyTheOne/Pytorch_Tutorial
[submodule "site/content/posts"]
	path = site/content/posts
	url = https://github.com/LiterallyTheOne/LiterallyTheOne-posts
[submodule "site/content/tutorials/arduino"]
	path = site/content/tutorials/arduino
	url = https://github.com/LiterallyTheOne/Arduino-tutorial
