{{ define "main" }}

<div class="flex flex-col m-4 justify-center gap-4">

    <div class="flex flex-wrap rounded  items-center justify-center">
        <div class="flex rounded border-4 border-blue-200 dark:border-blue-800">
            {{ partial "render-content.html" . }}
        </div>
    </div>

    <div class="flex flex-wrap rounded  items-center justify-center">
        <div class="flex rounded border-4 border-blue-200 dark:border-blue-800">
            <div class="dark:text-white">
                <label>
                    <input type="text" id="searchBox" placeholder="Search...">
                </label>
            </div>
        </div>
    </div>

    <div id="searchResults"
     class="ml-2 mr-2 grid md:grid-cols-3 sm:grid-cols-1 gap-4 mb-10 rounded shadow-md dark:text-white bg-white dark:bg-gray-950">
    </div>
</div>

{{ $flex := resources.Get "js/vendor/flexsearch.bundle.min.js" }}
<script src="{{ $flex.RelPermalink }}" integrity="{{ $flex.Data.Integrity }}"></script>


{{ $s := resources.Get "js/search.js"}}
<script type="module" src="{{ $s.RelPermalink }}"></script>

{{ end }}