{{ define "main" }}
{{ partial "breadcrumbs.html" . }}

<div class="dark:text-white">

    <div class="grid md:grid-cols-12 sm:grid-cols-1 gap-4">
        <div class="flex flex-row col-start-3 gap-3 col-span-9">

            {{ partial "render-content.html" . }}

            <div>
                <div class="sticky top-20">
                    {{ partial "post-normal.html" . }}


                    <div class="flex flex-col rounded mt-10">
                        <h2 class="font-bold mb-2 text-center">{{ .Title }}</h2>
                        <nav id="toc" class="toc gap-3">
                            {{ .TableOfContents }}
                        </nav>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
{{ end }}
