{{ define "main" }}

{{ partial "breadcrumbs.html" . }}

<div class="flex flex-wrap gap-3">

    <div class="md:max-w-3/24 w-full hidden sm:block ml-2">
        <div class="sticky top-20">

            {{ partial "sidebar-tutorial.html" . }}

        </div>
    </div>


    <div class="flex flex-wrap md:max-w-3/5 w-full mb-5 items-center justify-center">

        <div class="flex flex-col gap-5">

            <div class="flex flex-col dark:text-white m-4">

                <div class="flex flex-row items-center justify-center">

                    <div class="flex m-2">
                        {{ partial "post-card-in-post.html" . }}
                    </div>
                </div>

                <div class="flex flex-row gap-3">
                    <div class="flex flex-wrap w-full">
                        {{ partial "show-slide.html" . }}
                    </div>


                </div>

                <div class="md:hidden">

                    <div class="flex flex-col rounded m-2">
                        <div class="flex flex-col border-2 border-blue-200 dark:border-blue-950 p-3">

                            <h2 class="font-bold mb-2 text-center">Table of content</h2>
                            <nav id="toc-small" class="toc gap-3">
                                {{ .TableOfContents }}
                            </nav>
                        </div>
                    </div>

                </div>


            </div>

        </div>

        <div class="flex flex-wrap w-full justify-center">
            {{ partial "render-content.html" . }}
        </div>


    </div>


    <div class="md:max-w-5/24 w-full hidden md:block dark:text-white">
        <div class="sticky top-20">
            <div class="flex flex-col gap-2">
                {{ partial "toc.html" . }}

            </div>

        </div>
    </div>


</div>


{{ end }}