<div class="flex flex-row gap-3 dark:text-white mb-5">

    <nav aria-label="breadcrumb" class="flex ml-3 mr-3 breadcrumbs">
        <ol class="inline-flex items-center flex-wrap tracking-tight gap-2">
            {{ $currentSection := .CurrentSection }}
            {{ $ancestors := .Ancestors.Reverse }}
            {{ range $i, $p := $ancestors }}
            {{ $isCurrentSection := eq $p $currentSection }}
            <li class="flex items-center gap-2">
                {{ $isLast := eq $i (sub (len $ancestors) 1) }}
                <a
                        href="{{ $p.RelPermalink }}"
                        class="truncate text-blue-600 hover:text-blue-500 dark:text-blue-500 dark:hover:text-blue-400 {{ if $isCurrentSection }}
            current-section
          {{ end }}"
                >{{ $p.LinkTitle }}</a
                >
                {{ template "breadcrumbs-arrow" . }}
            </li>
            {{ end }}
            {{ $isCurrentSection := eq $ $currentSection }}
            <li
                    class="flex text-gray-700 dark:text-gray-300 {{ if $isCurrentSection }}
          current-section
        {{ end }}">
                {{ $.LinkTitle }}
            </li>
        </ol>
    </nav>

</div>

{{ define "breadcrumbs-arrow" }}
<div>
    >
</div>
{{ end }}
