<div class="flex flex-row justify-between bg-blue-200 dark:bg-blue-950">

    <div class="flex items-center gap-4">
        <div class="rounded shadow p-4">
            <p class="text-gray-950 dark:text-white">
                © 2025 LiterallyTheOne
            </p>
        </div>
    </div>

    <div class="flex items-center gap-4">
        <button class="text-gray-950 dark:text-white" id="theme-switcher-dark">
            Dark
        </button>

        <button class="text-gray-950 dark:text-white" id="theme-switcher-light">
            Light
        </button>

    </div>

</div>
