{{ $pdf_file := printf "public/pdf/%s/output.pdf" .File.Dir  }}
{{ $slide_file := printf "static/slides/%s" .File.Dir  }}

{{ if or (fileExists $pdf_file) (fileExists $slide_file) (.Params.code)  }}

<div class="flex flex-col w-full items-center">
    <div class="flex flex-col
            rounded border-4 border-blue-200 dark:border-blue-950 dark:text-white">
        <h2 class="font-bold mb-2 text-center">Materials</h2>

        <div class="flex flex-row gap-3 m-2">
            {{ partial "link-code.html" . }}

            {{ partial "download-pdf.html" . }}

            {{ partial "download-pdf-book.html" . }}


        </div>
    </div>
</div>

{{ end }}
