<div class="rounded border-4 border-blue-200 dark:border-blue-800 items-center justify-center dark:text-white">
    <a href="/about/">
        <div class="flex m-3 align-items-center justify-center">
            <img src="{{ .Site.BaseURL }}images/profile.webp"
                 alt="avatar"
                 class="rounded-full">
        </div>
        <div class="flex flex-col m-3 align-items-center justify-center">
            <h1 class="text-center text-2xl font-bold">
                Ramin Zarebidoky
            </h1>
            <h1 class="text-center text-xl font-bold text-cyan-500">
                @LiterallyTheOne
            </h1>
            <h2 class="text-center text-m text-gray-500">
                PhD candidate in AI
            </h2>

        </div>
    </a>
</div>
