<!DOCTYPE html>
<html
        lang="{{ site.Language.LanguageCode }}"
        dir="{{ or site.Language.LanguageDirection `ltr` }}"
        class="dark"
>
<head>
    {{ partial "head.html" . }}
</head>

<body>
{{ partial "header.html" .}}

<!--<div class="grid min-h-dvh-->
<!--  grid-cols-1-->
<!--  grid-rows-1-->
<!--  pt-20-->
<!--  align-items-start-->
<!--justify-content-start">-->
<!--    {{ block "main" . }}{{ end }}-->

<!--</div>-->

<main class="pt-20 min-h-dvh">{{ block "main" . }}{{ end }}</main>
{{ partial "footer.html" . }}
</body>
</html>
