{{ define "main" }}
{{ .Content }}

<div class="grid grid-cols-12 gap-4">

    <div class="flex flex-col dark:text-white col-start-2 col-span-2">
        <div class="rounded border-4 border-blue-200 dark:border-blue-800 items-center justify-center">
            <h1 class="text-center text-2xl font-bold">
                Ramin Zarebidoky
            </h1>
            <h2 class="text-center text-m text-gray-500">
                PhD candidate in AI
            </h2>
        </div>
    </div>

    <div class="rounded border-4 border-blue-200 dark:border-blue-800 col-start-5 col-span-7 mb-2">
        <div class="m-2">

            <h1 class="text-2xl text-center text-cyan-500">
                <a href="/posts/">
                    Latest Posts
                </a>
            </h1>

            <div class="grid md:grid-cols-3 sm:grid-cols-1 gap-4 mb-10  ">


                {{ range first 9 (where site.RegularPages "Section" "posts") }}
                <div class="flex flex-col
      items-center
      rounded
      shadow
      p-1
      dark:text-white
      border-2
      border-blue-200
      dark:border-blue-950
      gap-3

">
                    <div class="flex gap-2 w-full items-center justify-center">
                        <img src="{{ .RelPermalink }}{{ .Params.image }}" alt="{{ .Title }}">
                    </div>

                    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                    <time class="flex" datetime="{{ .Date }}">{{ .Date.Format "2006-01-02" }}</time>

                    <div class="flex gap-2 flex-wrap">
                        {{ with .Params.tags }}
                        {{ range . }}
                        <div class="bg-blue-100 text-blue-800 text-xs font-medium px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-100">
                            <a href="{{ (print "/tags/" . | urlize) | relURL }}">
                            {{ . }}
                            </a>
                        </div>
                        {{ end }}
                        {{ end }}
                    </div>


                </div>
                {{ end }}
            </div>
        </div>

    </div>


</div>
{{ end }}