{{ define "main" }}
{{ .Content }}


<div class="grid grid-cols-3 grid-rows-3 gap-4">

    {{ range where site.RegularPages "Section" "posts" }}
    <div class="flex flex-col
      items-center
      rounded
      shadow
      p-1
      dark:text-white
      border-2
      border-blue-200
      dark:border-blue-950
      gap-3

">
        <div class="flex gap-2 w-full">
            <img src="{{ .RelPermalink }}{{ .Params.image }}" alt="{{ .Title }}">
        </div>

        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        <time class="flex" datetime="{{ .Date }}">{{ .Date.Format "2006-01-02" }}</time>

    </div>
    {{ end }}
</div>

{{ end }}