{{ define "main" }}
<h1 class="text-cyan-500 text-2xl text-center mb-10">{{ .Title }}</h1>
<div class="prose dark:prose-invert lg:prose-xl prose-headings:text-center prose-h1:text-cyan-500 prose-h2:text-lime-500 prose-h3:text-orange-500 prose-inline-code:text-purple-500 prose-inline-code:rounded prose-inline-code:bg-gray-200 prose-inline-code:before:content-none prose-inline-code:after:content-none">
    {{ .Content }}
</div>

<div class="flex flex-wrap items-center gap-3 justify-center">
    <div class="flex flex-wrap rounded border-4 border-blue-200 dark:border-blue-800 items-center justify-center dark:text-white">
        <div class="flex flex-wrap gap-4 m-3 align-items-center justify-center">
            {{ $tags := .Site.Taxonomies.tags.ByCount }}
            {{ range $tags }}
            {{ $cnt := .Count }}
            <div class="bg-blue-100 text-blue-800 text-xs font-medium px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-100">
                <a href="{{ .Page.RelPermalink }}">{{ .Page.Title }} ({{ $cnt }})</a>
            </div>
            {{ end }}


        </div>
    </div>
</div>
{{ end }}
