{{ define "main" }}
<h1 class="text-cyan-500 text-2xl text-center mb-10">{{ .Title }}</h1>
{{ with .Content }}
<div class="prose dark:prose-invert lg:prose-xl prose-headings:text-center prose-h1:text-cyan-500 prose-h2:text-lime-500 prose-h3:text-orange-500 prose-inline-code:text-purple-500 prose-inline-code:rounded prose-inline-code:bg-gray-200 prose-inline-code:before:content-none prose-inline-code:after:content-none">
    {{ . }}
</div>
{{ end }}


<div class="grid md:grid-cols-3 sm:grid-cols-1 gap-4 mb-4">

    {{ $pages := where .Site.RegularPages "Section" "posts" }}
    {{ $pages = $pages.ByDate.Reverse }}
    {{ range (.Paginate $pages 9).Pages }}
    {{ partial "post_normal.html" . }}
    {{ end }}
</div>

{{ partial "pagination.html" . }}
{{ end }}