{{ define "main" }}
{{ partial "breadcrumbs.html" . }}
<div class="dark:text-white">

    <div class="flex flex-wrap gap-3">

        <div class="sm:hidden w-full">
            <div class="flex flex-col sticky top-20 gap-2">
                {{ partial "post-card.html" . }}

                <div class="flex flex-col rounded">
                    <div class="flex flex-col border-2 border-blue-200 dark:border-blue-950 p-3">

                        <h2 class="font-bold mb-2 text-center">Table of content</h2>
                        <nav id="toc-small" class="toc gap-3">
                            {{ .TableOfContents }}
                        </nav>
                    </div>
                </div>

                {{ partial "show-slide.html" . }}
            </div>
        </div>

        <div class="flex flex-wrap md:max-w-1/8 w-full">
        </div>


        <div class="flex flex-wrap md:max-w-3/5 w-full mb-5 items-center">

            <div class="flex flex-wrap w-full justify-center">
                {{ partial "render-content.html" . }}
            </div>

            {{ partial "materials.html" . }}

        </div>

        <div class="md:max-w-5/24 w-full hidden sm:block">
            <div class="sticky top-20">
                <div class="flex flex-col gap-2">
                    {{ partial "post-card.html" . }}

                    {{ partial "toc.html" . }}

                    {{ partial "show-slide.html" . }}
                </div>

            </div>
        </div>

    </div>
</div>
{{ end }}
